.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nnname {
  justify-content: space-around;
  align-items: center;
  text-align: justify;
}

.navy {
  font-weight: 900;
  font-stretch: expanded;
  padding-top: 20px;
}
