// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: #ff9600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.app {
  // border: 1px solid #c3c3c3;
  align-content: center;
}

.begining {
  // border: 1px solid #c3c3c3;
  display: flex;
  justify-content: center;
}

.headtables {
  width: 100%;
  // border: 1px solid #c3c3c3;
}

.ending {
  display: flex;
  justify-content: center;
}

.signup {
  // border: 1px solid #c3c3c3;
  justify-content: space-between;
  display: inline-block;
  width: 100%;
  margin-top: 25px;
  border: solid 5px grey;
  border-radius: 30px;
}

.textywonder {
  // border: 1px solid #c3c3c3;
  text-align: center;
}

.textright {
  height: 2cm;
  width: 2cm;
  display: flex;
}

.iconavatar {
  height: 4cm;
  width: 4cm;
  justify-content: space-around;
  display: flex;
}

.pickadate {
  display: felx;
  background-color: red;
  justify-content: space-around;
  align-content: center;
}

.headerss {
  padding-left: 12px;
  padding-top: 5px;
}

.pregunta {
  background-color: pink;
  padding-left: 20px;
  font: caption;
  padding-top: 20px;
}
.subb {
  align-items: center;
  color: white;
  display: flex-grow;
}

.one {
  background-color: yellow;
}

.pppicture {
  width: 5px;
  height: 5px;
}

.lastone {
  padding: 25px;
}

.titles {
  text-align: left;
  padding-left: 4px;
  font-style: oblique;
  font-size: 16px;
}

.fontfamily {
  font-family: Brush Script MT, Brush Script Std, cursive;
}

.imagekilos {
  text-align: right;
}

.lasty {
  text-align: center;
}

.nombress {
  text-align: left !important;
  padding-left: 5px !important;
  align-self: center;
}

.set-height {
  height: 65px;
}

.set-me {
  border: solid 1px black;
  box-shadow: inset 0px 0px 2px 2px black;
}

.maxywidth {
  max-width: 800px;
}
.avatary {
  text-align: right;
  padding-top: 8px;
}

.whiteplease {
  color: white;
}

.fontitalic {
  font-style: oblique;
  // font-style: italic;
}
